<span class="igx-typography__body-2 header-top">WELCOME TO</span>
<h2 class="content__header content__subject">Ignite UI for Angular</h2>
<h4 class="content__subject">55+ Material-based UI Components</h4>
<img src="../../assets/indigo-design.svg" class="content__image">
<div class="discover-button">
  <a href="https://www.infragistics.com/products/ignite-ui-angular?utm_source=StackBlitz&utm_medium=Project&utm_campaign=Angular&utm_term=19-01#components" target="_blank">
    <button igxButton="raised" igxRipple="white">Discover More</button>
  </a>
</div>
