<div class="content">
  <igx-bottom-nav class="content-bottom-nav">
    <igx-tab-panel label="Home" icon="home">
      <div class="tab-content">
        <span class="igx-typography__body-2 header-top">WELCOME TO</span>
        <h2 class="content__header content__subject">Ignite UI for Angular</h2>
        <h4 class="content__subject">55+ Material-based UI Components</h4>
        <img src="../../assets/indigo-design.svg" class="content__image">
        <div class="discover-button">
          <a href="https://www.infragistics.com/products/ignite-ui-angular?utm_source=StackBlitz&utm_medium=Project&utm_campaign=Angular&utm_term=19-01#components" target="_blank">
            <button igxButton="raised" igxRipple="white">Discover More</button>
          </a>
        </div>
      </div>
      </igx-tab-panel>
      <igx-tab-panel label="Components" icon="web">
        <div class="tab-content">
            <app-components ></app-components>
        </div>
      </igx-tab-panel>
      <igx-tab-panel label="Contacts" icon="subject">
        <div class="tab-content">
            <p class='igx-typography__subtitle-1'>We are also on GitHub</p>
            <p class="content__container--wide">
              <a href="https://github.com/IgniteUI/igniteui-angular" target="_blank" class="content__link--github igx-typography__body-2">
                <span class="content__link-image"></span>Ignite UI for Angular
              </a>
              <a href="https://github.com/IgniteUI/igniteui-cli" target="_blank" class="content__link--github igx-typography__body-2">
                <span class="content__link-image"></span>Ignite UI CLI
              </a>
            </p>
          <br />
              <p class='igx-typography__subtitle-1'>Angular for Designers: From Sketch to Code in 1 Click </p>
              We've bridged the gap between Sketch and Angular. Using our Sketch UI kits from Indigo.Design, craft beautiful experiences and generate pixel-perfect Angular code... all in one click!
          <br />
          <a href="https://www.infragistics.com/products/indigo-design?utm_source=StackBlitz&utm_medium=Project&utm_campaign=Indigo_Design&utm_term=19-01" target="_blank" rel="noopener noreferrer">www.infragistics.com/products/indigo-design</a>
        </div>
      </igx-tab-panel>
    </igx-bottom-nav>
  
</div>