<div class="content">
  <igx-bottom-nav class="content-bottom-nav" >
    <igx-tab-panel label="Home" icon="home">
      <div class="tab-content">
        <app-welcome></app-welcome>
      </div>
      </igx-tab-panel>
      <igx-tab-panel label="Components" icon="web" >
        <div class="tab-content">
            <app-components ></app-components>
        </div>
      </igx-tab-panel>
      <igx-tab-panel label="Contacts" icon="subject">
        <div class="tab-content">
          <app-contacts></app-contacts>
        </div>
      </igx-tab-panel>
    </igx-bottom-nav>
</div>