<h5 class="igx-typography__subtitle-1 igx-grays-500-text">WELCOME TO</h5>
<h1 class="igx-typography__h3 igx-primary-500-text">Ignite UI for Angular</h1>
<h2 class="igx-typography__h5 ">55+ Material-based UI Components</h2>
<img class="feature-image" src="../../assets/indigo-design-welcome.svg">
<div class="discover-button">
  <a href="https://www.infragistics.com/products/ignite-ui-angular?utm_source=StackBlitz&utm_medium=Project&utm_campaign=Angular&utm_term=19-01#components" target="_blank">
    <button igxButton="raised" igxRipple="white">Discover More</button>
  </a>
</div>
